/* Move block container higher */


/* div.block-container.css-18e3th9.egzxvld2 {
    margin-top: 10em;
} */


/* Adjustments for the logo image*/

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    object-fit: scale-down;
    height: 80px;
}


/* Image height */


/* 
div.css-1kyxreq.etr89bj2 {
    height: 100px;
} */


/* Centering text in each gray box */

div.css-1ht1j8u.e16fv1kl0 {
    text-align: center;
}


/*
 
  _______                          __    
 |_   __ \                        /  |   
   | |__) |   .--.   _   _   __   `| |   
   |  __ /  / .'`\ \[ \ [ \ [  ]   | |   
  _| |  \ \_| \__. | \ \/\ \/ /   _| |_  
 |____| |___|'.__.'   \__/\__/   |_____| 
                                         
 
*/


/* Css for image */


/* img[src="https://raw.githubusercontent.com/jbwilliams1006/Code_of_Duty_Analytics/e94586754e72914891ca847d313eab72defc092c/Icons/screenshot.png"] { */


/* img[scr="Icons/full_logo.png"]{
    margin-left: 300px;
    margin-top: 20px;
} */


/*  st.header format*/

.css-10trblm {
    position: relative;
    flex: auto;
    text-align: center;
    margin-left: calc(3rem);
    line-height: 0.1;
}


/* Row 1 text */

div.css-thv974.e16nr0p34 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: xx-large;
    color: #000000;
    padding: 1% 3% 1% 3%;
    text-align: center;
    line-height: 0.1;
    margin: 0%;
}


/* Row 1 text */

div.css-183lzff.eyqtai90 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: large;
    color: #000000;
    padding: 2% 3% 7% 5%;
    text-align: center;
    line-height: 0.1;
    margin: 0%;
}


/* Row 1 Right Side*/

div.css-ml2xh6.e1tzin5v1 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #EEEEEE;
    padding: 2% 2% 2% 2%;
    border-radius: 30px;
    width: calc(50% - 1rem);
    flex-basis: calc(50% - 1rem);
}


/*
 
  _______                          _____   
 |_   __ \                        / ___ `. 
   | |__) |   .--.   _   _   __  |_/___) | 
   |  __ /  / .'`\ \[ \ [ \ [  ]  .'____.' 
  _| |  \ \_| \__. | \ \/\ \/ /  / /_____  
 |____| |___|'.__.'   \__/\__/   |_______| 
                                           
 
*/


/* Box behind charts */

div.css-12w0qpk.e1tzin5v1 {
    display: flex;
    background-color: #eeeeee;
    padding: 1% 1% 1% 1%;
    border-radius: 30px;
}


/* For spacing of images */


/* div.css-1v0mbdj.etr89bj1 {
    margin-left: 0px !important;
} */


/* For spacing */

div.css-pmvzy7.e1tzin5v0 {
    bottom: 0px;
}


/*
 
  _______                          ______   
 |_   __ \                        / ____ `. 
   | |__) |   .--.   _   _   __   `'  __) | 
   |  __ /  / .'`\ \[ \ [ \ [  ]  _  |__ '. 
  _| |  \ \_| \__. | \ \/\ \/ /  | \____) | 
 |____| |___|'.__.'   \__/\__/    \______.' 
                                            
 
*/


/* Box behind first chart */

div.css-q5g29x.e1tzin5v2 {
    background-color: #eeeeee;
    padding: 1% 1% 1% 1%;
    border-radius: 30px;
    flex-basis: calc(50% - 1rem);
}


/* Box behind second chart */

div.css-1bzkvni.e1tzin5v1 {
    background-color: #eeeeee;
    padding: 1% 1% 1% 1%;
    border-radius: 30px;
}


/* Hide hamburger menu and footer */

div.css-r698ls.e8zbici2 {
    display: none;
}

footer.css-ipbk5a.egzxvld4 {
    display: none;
}

footer.css-12gp8ed.eknhn3m4 {
    display: none;
}

div.vg-tooltip-element {
    display: none;
}