/* Move block container higher */

div.block-container.css-18e3th9.egzxvld2 {
    margin-top: 1em;
}


/* Adjustments for the logo image*/

img {
    display: block;
    margin-top: 1em;
    height: 55px !important;
    width: auto;
    max-width: 70px !important;
}


/* Image height */

div.css-1kyxreq.etr89bj2 {
    height: 100px;
}


/* Centering text in each gray box */

div.css-1ht1j8u.e16fv1kl0 {
    text-align: center;
}


/*
 
  _______                          __    
 |_   __ \                        /  |   
   | |__) |   .--.   _   _   __   `| |   
   |  __ /  / .'`\ \[ \ [ \ [  ]   | |   
  _| |  \ \_| \__. | \ \/\ \/ /   _| |_  
 |____| |___|'.__.'   \__/\__/   |_____| 
                                         
 
*/


/* Css for image */

img[src="https://raw.githubusercontent.com/jbwilliams1006/Code_of_Duty_Analytics/e94586754e72914891ca847d313eab72defc092c/Icons/screenshot.png"] {
    margin-left: 170px;
    margin-top: 20px;
}


/* Row 1 text */

div.css-thv974.e16nr0p34 {
    font-family: 'Inter', Bold;
    font-size: xx-large;
    color: #000000;
    padding: 3% 3% 3% 20%;
    border-radius: 1px;
    height: 40px;
    margin-left: 0rem;
}


/* Row 1 text */

div.css-183lzff.eyqtai90 {
    font-family: 'Inter', Light;
    font-size: large;
    color: #000000;
    padding: 3% 3% 3% 3%;
    border-radius: 1px;
    position: relative;
    max-width: 450px !important;
    margin-left: 1rem;
}


/* Row 1 Right Side*/

div.css-ml2xh6.e1tzin5v2 {
    background-color: #EEEEEE;
    padding: 3% 3% 3% 3%;
    border-radius: 1px;
    width: calc(50% - 1rem);
    flex-basis: calc(50% - 1rem);
}


/*
 
  _______                          _____   
 |_   __ \                        / ___ `. 
   | |__) |   .--.   _   _   __  |_/___) | 
   |  __ /  / .'`\ \[ \ [ \ [  ]  .'____.' 
  _| |  \ \_| \__. | \ \/\ \/ /  / /_____  
 |____| |___|'.__.'   \__/\__/   |_______| 
                                           
 
*/


/* Box behind charts */

div.css-12w0qpk.e1tzin5v2 {
    display: block;
    background-color: #eeeeee;
    padding: 3% 3% 3% 3%;
    border-radius: 1px;
}


/* For spacing of images */

div.css-1v0mbdj.etr89bj1 {
    margin-left: 0px !important;
}


/* For spacing */

div.css-pmvzy7.e1tzin5v0 {
    bottom: 0px;
}


/*
 
  _______                          ______   
 |_   __ \                        / ____ `. 
   | |__) |   .--.   _   _   __   `'  __) | 
   |  __ /  / .'`\ \[ \ [ \ [  ]  _  |__ '. 
  _| |  \ \_| \__. | \ \/\ \/ /  | \____) | 
 |____| |___|'.__.'   \__/\__/    \______.' 
                                            
 
*/


/* Box behind first chart */

div.css-1bcsrn5.e1tzin5v2 {
    background-color: #eeeeee;
    padding: 3% 3% 3% 3%;
    border-radius: 1px;
}


/* Box pie chart */

div.css-1bzkvni.e1tzin5v2 {
    background-color: #eeeeee;
    padding: 3% 3% 3% 3%;
    border-radius: 1px;
}


/* Hide hamburger menu and footer */

div.css-r698ls.e8zbici2 {
    display: none;
}

footer.css-ipbk5a.egzxvld4 {
    display: none;
}

footer.css-12gp8ed.eknhn3m4 {
    display: none;
}

div.vg-tooltip-element {
    display: none;
}